{% extends "index.html" %}

{% block content %}


    <!-- Post -->

    {% for content in contents %}
        <article class="box post post-excerpt">
            <header>
                <h2><a href="post/{{ content.slug }}/">{{ content.title }}</a></h2>
                <p></p>
            </header>
            <div class="info">
                <span class="date"><span class="month">{{ content.date }}</span><span class="year"></span></span>
            </div>
            <p>
                {{ content.content | safe | truncatechars_html:15 }}
            </p>
        </article>
    {% endfor %}
    <!-- Pagination -->
    <div class="pagination">
        <!--<a href="#" class="button previous">Previous Page</a>-->
        <div class="pages">
            {% if contents.has_previous %}
                <a href="?page={{ contents.previous_page_number }}" class="active">Previous</a>
            {% endif %}
            <div class="active">
                Page {{ contents.number }} of {{ contents.paginator.num_pages }}.
            </div>
            <span>&hellip;</span>
            {% if contacts.has_next %}
                <a href="?page={{ contents.next_page_number }}" class="button next>next</a>
                             {% endif %}
							</div>

						</div>


{% endblock %}