{% extends "index.html" %}

{% block content %}

    <article class="box post post-excerpt">
        <header>
            <h2><a href="{{ content.slug }}">{{ content.title }}</a></h2>
            <p></p>
        </header>
        <div class="info">
            <span class="date"><span class="month">{{ content.date }}</span><span class="year"></span></span>
        </div>
        <p>
            {{ content.content | safe}}
        </p>
    </article>

    {% if user.is_authenticated %}
       <a href="delete"> <button>Delete</button></a>
    {% endif %}

{% endblock %}