{% extends "admin/admin_base.html" %}
{% block content %}
     {% if  messages %}
     {% for message in messages %}
    <div class="alert alert-danger" role="alert"> {{  message }} </div>
    {% endfor %}
    {% endif %}
<form class="form col-md-12 center-block" action="/dashboard/add" method="post"> {% csrf_token %}
    <div class="form-group">
        <label for="usr">Title:</label>
        <input type="text" class="form-control" name="title">
    </div>
	<div class="form-group">
        <label for="usr">Content:</label>
        <textarea name="content" ></textarea>
    </div>
    <div class="form-group">
        <label for="usr">Select Category:</label>
    <select class="form-control" name="select" required>
     <option value="movie">Movie</option>
     <option value="song">Song</option>
     <option value="lifestyle">Lifestyle</option>
     <option value="technology">Technology</option>
    </select>
   </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">Save</button>
    </div>
</form>
{% endblock %}