<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hiren: The Bunny</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower/summernote/dist/summernote.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
</head>
<body>

<div class="container">
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    <i class="fa fa-heart-o"></i> Hiren
                </a>
            </li>
            <li>
                <a href="/dashboard/add"><i class="fa fa-plus"></i> Add new item</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-inbox"></i> Inbox</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    {% block content %}{% endblock %}
</div>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bower/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower/summernote/dist/summernote.min.js' %}"></script>
<script src="{% static 'js/hiren.js' %}" ></script>
</body>
</html>